<table class="attr">
  <tr>
    <th width="150">id</th>
    <td><%= @book.number %></td>
  </tr>
  <tr>
    <th>著者名</th>
    <td><%= @book.author%></td>
  </tr>
  <tr>
    <th>書籍名</th>
    <td><%= @book.title%></td>
  </tr>
  <tr>
    <th>本屋大賞得点</th>
    <td><%= @book.score %></td>
  </tr>
  <tr>
    <th>出版社</th>
    <td><%= @book.publisher %></td>
  </tr>
</table>
